@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

#holder {
    background-color: #1a142f;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center {
    background-color: #332d47;
    width: 75%;
    height: 86%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#avatar {
    background-color: red;
    position: absolute;
    margin-top: 5%;
}

#avatar img {
    border-radius: 50%;
}

#nick {
    background-color: yellowgreen;
    position: absolute;
    margin-top: 22%;
}

#nick p {
    font-family: 'PT Sans', sans-serif;
}