* {
    margin: 0;
    padding: 0;
}

#holder {
    background-color: #1a142f;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

#center {
    background-color: #332d47;
    width: 75%;
    height: 86%;
    border-radius: 20px;
    display: grid;
    place-items: center;
}

#avatar {
    display: grid;
    place-items: center;
    background-color: red;
}

#avatar img {
    border-radius: 50%;
}

#nick {
    background-color: yellowgreen;
}