html, 
body {
    margin: 0;
}

#holder {
    background-color: #1a142f;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center {
    background-color: #332d47;
    display: flex;
    margin: auto;
    width: 75%;
    height: 86%;
    border-radius: 15px;
}

#avatar {
    position: relative;
    margin: auto + 10%;
    margin-top: 10px;
    border-radius: 50%;
}