p {
  font-size: 100px;
  text-align: center;
}

div {
    background: #737373;
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin:  1.66% 1.66% 1.66% 30%;  
}

div:hover {
    background: black;
}
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
